html,body{
margin: 0px;
padding: 0px;
width: 100%;
overflow-x: hidden;
}


/*---------------Navigation Bar-------------------------*/

.navbar{
	margin-bottom:60px ;
}

.navbar-brand{
	font-family: "Ubuntu",sans-serif;
	font-size: 2rem;
	font-weight: bold;
}

.nav-item{
	margin: 0px 25px;
	font-size: 18px;
}


/*Title Section*/

#title{
	/*background-color: #ff4c68;*/
	background-image: linear-gradient(to left top ,#FF4C68,#f63d84,#9953CF);
	overflow-y: hidden;
	font-family: "montserrat-thin",sans-serif; 
	color: white;
}

h1{
	font-family: "Montserrat-dark",sans-serif;
	font-size: 3.5rem;
	line-height: 1.5;
	font-weight:800;
	margin-bottom: 30px;
}

.container-fluid{
	padding: 4% 15%;
	position: relative;

}

/*Dog's Photo*/
.dogiphone{
	width: 21%;
	transform: rotate(23deg);
	border-radius: 10%;
	box-shadow: 15px 15px 2px #D64057;
	position: absolute;
	right: 23%;
}


.download-btn{
	padding: 1.5% 6% ;
	margin: 5% 3% 5% 0;
}



/*Features*/
#features{
	
	text-align: center;
	padding: 10% 15% 8%;
}

 h3{
	font-family: "Montserrat-dark",sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
}

 p{
	color: #8f8f8f;
}

.feature-column{
	padding: 5% 8%;
}
.features-icon{
	color: #ef8172;
	font-size:5.2rem;
}

#features div div:hover{
	cursor: default;
}

#features div div:hover .features-icon
{
	color: #ff4c68;
}


/*Testimonial Section*/


#testimonials{
	
	background-image: linear-gradient(to right ,#ef8172,#ef8172,#FFC996);
	
}

 h2{
	font-family:"Montserrat-dark",sans-serif ;
	font-size: 2.5rem;
	font-weight: bold;
	color: #2F2828;
	padding: 0 4rem;
	text-indent: -1rem;
}


.testimonials-image{
	border-radius: 50%;
	width: 10%;
	margin: 4rem 0rem 2rem 4rem;
	
}

/*For adjusting the image of the lady in the second slide of the testimonial*/

.carousel-item{
	padding: 8% 15% 5%;
	text-align: center;
}

em{
	font-family:"Unbuntu",sans-serif ;
	color: #393333;
	margin-left: 2%;
	font-weight: bold;
}



/*Press Section*/

#press{
	background-image: linear-gradient(to right  ,#ef8172,#ef8172,#FFC996);
	padding:4% 15% 3% ;
	text-align: center;
}

.press-image{
	width: 20%;
	margin:0 2% ;

}



/*Pricing Section*/

#pricing{
	text-align: center;
	padding: 6% ;
	padding-top: 8%;
}

.pricing-column{
	padding: 8% 3%;
}

.card{
	box-shadow:8px 9px 18px #D3D3D3;

}


/*The element of the pricing card*/
li{
	line-height: 2.5;
	font-family:"Montserrat-dark",sans-serif ;
	color: #6C6866;
}

/*Call To Action Section----------------------------------------------------------------*/
#cta{
	text-align: center;
	padding: 8% 15%;
	color: white;
	/*background-color:  #ff4c68;*/
	background-image: linear-gradient(to left top ,#FF4C68,#f63d84,#9953CF);
}

.cta-download-button{
	padding-right: 3%;
	padding-left: 3%;
	margin: 3% 2%;
}





/*Footer---------------------------------------------------------------------------------*/


#footer{
	text-align: center;
	padding: 6% 15%;
}

.social{
	display: inline-block;
	margin-right: 1%;
	cursor: pointer;
}









/*Media Queries------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1030px)
{
	.dogiphone{
		position: relative;
		width: 60%;
		overflow-x: hidden;
		transform: rotate(22deg);
		top: 10%;
		right: 35%;

	}

	#title{
		text-align: center;
		overflow-y: hidden;
	}	

	.navbar-brand{
		font-size: 2.2rem;
	}

	h1{
		font-size: 3.8rem;
	}

	.download-btn
	{
		margin-top: 10%;
	}
}
